#canvas {
  width: 95%;
  height: 95%;
}

/* #colourPickerContainer {
  display: flex;
  flex-direction: column;
} */

.colour-buttons {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}

#increaseWidth,
#decreaseWidth {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}
